<!DOCTYPE html>
<html>
<head>
    <title>Slurpee</title>
    <link rel = "stylesheet" href = "/static/main.css">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <input placeholder = "Search" id = "query" autofocus>
    <h1>Slurpee 🥤</h1>
    <p class = "about"><i>Personal AI-powered link management system.</i></p>
    <div id = "results">
        {% for entry in index %}
            <a href = "{{ entry.url }}">
                <span class = "time">{{ entry.time }}</span>
                <p class = "title">{{ entry.title }}</p>
            </a>
        {% endfor %}
    </div>
    <script>let all_results = {{ index | safe }};</script> <!-- idc if this is cheating -->
    <script src = "static/main.js"></script>
</body>
</html>
